#alumniSearch {
  @include basicStyle(auto, 3rem, 15rem);
  background: url("../../assets/homeBg.svg");
  background-position: center;
  background-size: cover;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }

  .searchBar {
    background: #ffffff6e;
    @include basicStyle(8vh, 0, 3rem);
    @include flexStyles(space-between, center);
    border-radius: 0.3rem;
    border: 1px solid #ccc;

    font-family: $Inter;
    h2 {
      color: $dark;
      font-size: 1.3rem;
    }

    .search-area {
      @include flexStyles(center, center);
      input {
        width: 25rem;
        height: 2.4rem;
        border: 1px solid $dark;
        padding-left: 1rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        outline: none;
      }
      button {
        width: 2.6rem;
        height: 2.5rem;
        background: $dark;
        color: $primary;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        border: 1px solid $dark;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          background: #314053;
        }
      }
    }
  }

  .searchResult {
    font-family: $Inter;
    .heading {
      width: 100%;
      height: 7vh;
      @include flexStyles(space-evenly, center);
      background: rgba(255, 255, 255, 0.708);
      border-radius: 0.3rem;
      margin: 1rem 0;

      h4 {
        font-weight: bold;
        color: $iconBg;
      }
    }
    .viewMore {
      width: 100%;
      padding: 2rem 0;
      display: flex;
      justify-content: end;
      align-items: center;

      button {
        padding: 0.6rem 1.3rem;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 1rem;
        border: 1px solid #5148cd;
        transition: all 0.3s ease;
        background: none;
        &:hover {
          background: $dark;
          color: whitesmoke;
        }
      }
    }
  }
}

.singleAlumni {
  width: 100%;
  height: 6vh;
  @include flexStyles(space-evenly, center);
  background: rgba(255, 255, 255, 0.708);
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
