#bigText {
  width: 100%;
  height: auto;
  font-family: $Nato;

  .marquee {
    width: 100%;
    padding: 90px 20px;
    text-align: center;
    overflow: hidden;
  }

  .marquee h3 {
    font-size: 94px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .marquee .marquee-wrapper {
    width: 10000px;
  }

  .mWrapper1 {
    animation: marqueeAnimation1 30s linear 0s infinite running;
  }
  .mWrapper2 {
    animation: marqueeAnimation2 25s linear 0s infinite running;
    // transform: translateX(-10000pxz);
  }
  .mWrapper3 {
    animation: marqueeAnimation3 38s linear 0s infinite running;
  }
  .mWrapper4 {
    animation: marqueeAnimation4 33s linear 0s infinite running;
    // transform: translateX(-4600px);
  }

  .marquee h3 .marquee-title {
    margin-right: 20px;
    float: left;
  }

  .text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #161f2b;
  }

  @keyframes marqueeAnimation1 {
    100% {
      transform: translateX(-4600px);
    }
  }
  @keyframes marqueeAnimation2 {
    100% {
      transform: translateX(-4600px);
    }
  }
  @keyframes marqueeAnimation3 {
    100% {
      transform: translateX(-4600px);
    }
  }
  @keyframes marqueeAnimation4 {
    100% {
      transform: translateX(-4600px);
    }
  }
}
