#memberShip {
  @include basicStyle(100vh, 3rem, 15rem);
  background: url("../../assets/homeBg.svg");
  background-position: center;
  background-size: cover;

  h1:nth-child(1) {
    text-align: center;
    color: $dark;
    text-align: center;
    span {
      color: $iconBg;
    }
  }
  p {
    text-align: center;
  }

  .packages {
    width: 100%;
    height: 60vh;
    @include flexStyles(space-between, center);
    margin-top: 5rem;

    .package {
      width: 30%;
      height: 100%;
      background: #ffffff95;
      border-radius: 0.5rem;
      border: 1px solid #dadada;
      @include flexStyles(center, start);
      padding: 3rem;
      flex-direction: column;
      font-family: $Inter;
      transition: 0.3s ease;

      h4 {
        color: $iconBg;
        font-weight: 400;
        margin-bottom: 0.4rem;
      }
      h2 {
        margin-bottom: 2rem;
        border-bottom: 1px solid $dark;
        font-family: $Nato;
      }
      ul {
        margin-bottom: 2rem;
        li {
          margin: 0.5rem 0;
          font-size: 1rem;
          color: #6e6e6e;
        }
      }
      h1 {
        margin-bottom: 3rem;
      }
      button {
        @include buttonStyles($primary, $iconBg);
        width: 7rem;
        height: 2.4rem;
        border-radius: 0.3rem;
        transition: 0.3s ease;
        &:hover {
          background: #561ec7;
        }
      }

      &:hover {
        background: $iconBg;

        h4 {
          color: $primary;
        }

        ul {
          li {
            color: $primary;
          }
        }

        button {
          @include buttonStyles($dark, $primary);
          &:hover {
            background: #561ec7;
            color: $primary;
          }
        }
      }
    }
    .package.active {
      background: $iconBg;

      h4 {
        color: $primary;
      }

      ul {
        li {
          color: $primary;
        }
      }

      button {
        @include buttonStyles($dark, $primary);
        &:hover {
          background: #561ec7;
          color: $primary;
        }
      }
    }
  }
}
